@import './common.scss';
.home {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    .top {
        width: 100%;
        height: pxTorem(40px);
        margin-top: pxTorem(15px);
        background: #fff;
        a {
            height: 100%;
            width: pxTorem(60px);
            text-align: center;
            display: inline-block;
            line-height: pxTorem(40px);
            box-sizing: border-box;
            color: #000;
            font-size: pxTorem(13px)
        }
        .active {
            border-bottom: solid pxTorem(3px) #0af;
        }
    }
    .bottom{
        flex: 1
    }
}