html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video,
input {
  margin: 0;
  padding: 0;
  border: none;
  outline: 0;
  font-family: STHeitiSC-Light;
  font: inherit;
  vertical-align: baseline; }

html,
body,
form,
fieldset,
p,
div,
h1,
h2,
h3,
h4,
h5,
h6 {
  -webkit-text-size-adjust: none; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  font-family: arial, sans-serif; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

ins,
a {
  text-decoration: none; }

del {
  text-decoration: line-through; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

img {
  display: inline-block; }

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -moz-tap-highlight-color: rgba(0, 0, 0, 0);
  -ms-tap-highlight-color: rgba(0, 0, 0, 0);
  -o-tap-highlight-color: rgba(0, 0, 0, 0); }

/*html {
    font-size: $browser-default-font-size;
}*/
html {
  font-size: 37.5px; }

html,
body,
div.wrap {
  width: 100%;
  height: 100%;
  overflow: hidden;
  box-sizing: border-box; }

.replid {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column; }
  .replid a {
    list-style: none;
    width: 94%;
    padding: 0.21333rem 3%;
    background: #fff;
    margin-top: 0.4rem;
    position: relative;
    color: #000; }
    .replid a h3 {
      font-size: 0.37333rem; }
      .replid a h3 em {
        padding: 0.10667rem;
        background: #f00;
        color: #fff;
        margin-right: 0.21333rem;
        font-size: 0.32rem; }
    .replid a p {
      margin-top: 0.21333rem; }
      .replid a p em {
        font-size: 0.26667rem;
        color: #f00; }
      .replid a p span {
        margin-left: 0.32rem; }
    .replid a .iconfont {
      position: absolute;
      right: 0.26667rem;
      top: 43%;
      font-size: 0.48rem; }
